name: Build gdrcopy packages

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build for ${{ matrix.platform }}
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        dgrcopy:
          - version: 2.5
        distribution:
          - ubuntu24.04
        platform:
          - linux/amd64
          - linux/arm64
        include:
          - platform: linux/amd64
            runner: X64
          - platform: linux/arm64
            runner: ARM64

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build docker images
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23 # v6.19.0
        with:
          file: gdrcopy/Dockerfile
          push: false
          tags: dgrcopy_builder:${{ matrix.dgrcopy.version }}_${{ matrix.distribution }}
          platforms: ${{ matrix.platform }}
          load: true
          build-args: |
            DGRCOPY_VERSION=${{ matrix.dgrcopy.version }}

      - name: Create gdrcopy_build_output directory
        run: mkdir -p gdrcopy_build_output

      - name: Run Docker container and copy files
        run: |
          container_id=$(docker create dgrcopy_builder:${{ matrix.dgrcopy.version }}_${{ matrix.distribution }})
          docker start $container_id
          docker cp $container_id:/gdrcopy/packages/debs/ ./gdrcopy_build_output/
          docker stop $container_id
          docker rm $container_id

      - name: Create GitHub Release and Upload DEB packages
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: gdrcopy-${{ matrix.dgrcopy.version }}_${{ matrix.distribution }}
          name: Dgrcopy packages ${{ matrix.dgrcopy.version }} for ${{ matrix.distribution }}
          body: "Dgrcopy packages without gdrdrv-dkms requirements"
          draft: false
          prerelease: false
          files: |
            gdrcopy_build_output/debs/*.deb

      - name: Cleanup
        run: rm -rf gdrcopy_build_output
