name: Build nccl tests binaries

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build for ${{ matrix.platform }}
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
        build:
          - cuda_version: 12.9.0
            build_args: []
          - cuda_version: 13.0.2
            build_args: []
        distribution:
          - ubuntu24.04
        include:
          - platform: linux/amd64
            runner: X64
            arch: x86_64
            ld_library_path: /usr/mpi/gcc/openmpi-${OPENMPI_VERSION}/lib:/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu:/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/usr/local/cuda/targets/x86_64-linux/lib
          - platform: linux/arm64
            runner: ARM64
            arch: aarch64
            ld_library_path: /usr/mpi/gcc/openmpi-${OPENMPI_VERSION}/lib:/lib/aarch64-linux-gnu:/usr/lib/aarch64-linux-gnu:/usr/local/nvidia/lib:/usr/local/cuda-12.9/targets/sbsa-linux/lib/:/usr/mpi/gcc/openmpi-${OPENMPI_VERSION}/lib


    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build docker images
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23 # v6.19.0
        with:
          file: nccl-tests/nccl-tests-cuda-${{ matrix.build.cuda_version }}.dockerfile
          push: false
          tags: nccl_tests_builder:${{ matrix.build.cuda_version }}_${{ matrix.distribution }}
          platforms: ${{ matrix.platform }}
          load: true
          build-args: |
            ${{ matrix.build.build_args }}
            LD_LIBRARY_PATH=${{ matrix.ld_library_path }}

      - name: Create nccl_tests_build_output directory
        run: mkdir -p nccl_tests_build_output

      - name: Run Docker container and copy files
        run: |
          echo "Creating container for image: nccl_tests_builder:${{ matrix.build.cuda_version }}_${{ matrix.distribution }}"
          container_id=$(docker create nccl_tests_builder:${{ matrix.build.cuda_version }}_${{ matrix.distribution }})
          
          docker start $container_id
          
          echo "Copying /usr/src/nccl-tests/build/nccl-tests-perf-${{ matrix.arch }}.tar.gz"
          docker cp "$container_id:/usr/src/nccl-tests/build/nccl-tests-perf-${{ matrix.arch }}.tar.gz" ./nccl_tests_build_output/
          
          docker stop $container_id
          docker rm $container_id

      - name: Create GitHub Release and Upload NCCL tests
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: nccl_tests_${{ matrix.build.cuda_version }}_${{ matrix.distribution }}
          name: NCCL tests for cuda ${{ matrix.build.cuda_version }} and ${{ matrix.distribution }}
          draft: false
          prerelease: false
          files: |
            nccl_tests_build_output/nccl-tests-perf-${{ matrix.arch }}.tar.gz

      - name: Cleanup
        run: rm -rf nccl_tests_build_output/*.tar.gz
