name: Build perftest binaries

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build for ${{ matrix.platform }}
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
        build:
          - cuda_version: 12.9.0
            build_args: []
          - cuda_version: 13.0.2
            build_args: []
        distribution:
          - ubuntu24.04
        include:
          - platform: linux/amd64
            runner: X64
            arch: x86_64
          - platform: linux/arm64
            runner: ARM64
            arch: aarch64


    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build docker images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: perftest/perftest-cuda-${{ matrix.build.cuda_version }}.dockerfile
          push: false
          tags: perftest_builder:${{ matrix.build.cuda_version }}_${{ matrix.distribution }}
          platforms: ${{ matrix.platform }}
          load: true
          build-args: |
            ${{ matrix.build.build_args }}
            ARCH=${{ matrix.arch }}
          cache-from: type=local,src=.buildx-cache
          cache-to: type=local,dest=.buildx-cache,mode=max

      - name: Create perftest_build_output directory
        run: mkdir -p perftest_build_output

      - name: Run Docker container and copy files
        run: |
          echo "Creating container for image: perftest_builder:${{ matrix.build.cuda_version }}_${{ matrix.distribution }}"
          container_id=$(docker create perftest_builder:${{ matrix.build.cuda_version }}_${{ matrix.distribution }})
          docker start $container_id

          echo "Copying /usr/src/perftest/perftest-${ARCH}.tar.gz"
          docker cp "$container_id:/usr/src/perftest/perftest-${ARCH}.tar.gz" ./perftest_build_output/

          docker stop $container_id
          docker rm $container_id
        env:
          ARCH: ${{ matrix.arch }}

      - name: Create GitHub Release and Upload perftest
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: perftest_${{ matrix.build.cuda_version }}_${{ matrix.distribution }}
          name: Perftest for CUDA ${{ matrix.build.cuda_version }} and ${{ matrix.distribution }}
          draft: false
          prerelease: false
          files: |
            perftest_build_output/perftest-${{ matrix.arch }}.tar.gz

      - name: Cleanup
        run: rm -rf perftest_build_output/*.tar.gz
