name: Build pyxis

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build for ${{ matrix.platform }}
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        slurm:
          - version: 24.05.7
        enroot:
          - version: 3.5.0
        pyxis:
          - version: 0.21.0
        platform:
          - linux/amd64
          - linux/arm64
        include:
          - platform: linux/amd64
            runner: X64
          - platform: linux/arm64
            runner: ARM64

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@18ce135bb5112fa8ce4ed6c17ab05699d7f3a5e0 # v3.11.0

      - name: Build docker images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: pyxis/Dockerfile
          push: false
          tags: pyxis_builder:slurm_${{ matrix.slurm.version }}_enroot_${{ matrix.enroot.version }}_pyxis_${{ matrix.pyxis.vesion }}
          platforms: ${{ matrix.platform }}
          load: true
          build-args: |
            BASE_IMAGE=ubuntu:jammy
            SLURM_VERSION=${{ matrix.slurm.version }}
            ENROOT_VERSION=${{ matrix.enroot.version }}
            PYXIS_VERSION=${{ matrix.pyxis.version }}
          cache-from: type=local,src=.buildx-cache
          cache-to: type=local,dest=.buildx-cache,mode=max

      - name: Create pyxis_build_output directory
        run: mkdir -p pyxis_build_output

      - name: Run Docker container and copy files
        run: |
          container_id=$(docker create pyxis_builder:slurm_${{ matrix.slurm.version }}_enroot_${{ matrix.enroot.version }}_pyxis_${{ matrix.pyxis.vesion }})
          docker start $container_id
          docker cp $container_id:/usr/src/debs/ ./pyxis_build_output/
          docker stop $container_id
          docker rm $container_id

      - name: Create GitHub Release and Upload DEB packages
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: pyxis-${{ matrix.pyxis.version }}_slurm_${{ matrix.slurm.version }}_enroot_${{ matrix.enroot.version }}
          name: Pyxis ${{ matrix.pyxis.version }}
          body: Pyxis ${{ matrix.pyxis.version }} for Slurm ${{ matrix.slurm.version }} and Enroot ${{ matrix.enroot.version }}
          draft: false
          prerelease: false
          files: |
            pyxis_build_output/debs/*.deb
            

      - name: Cleanup
        run: rm -rf pyxis_build_output/*.deb
