name: Build slurm packages

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build for ${{ matrix.platform }}
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    runs-on: ubuntu-22.04-4core

    strategy:
      fail-fast: false
      matrix:
        slurm:
          - version: 25.05.5
        platform:
          - linux/amd64
          - linux/arm64
        distribution:
         - ubuntu24.04
        include:
          - platform: linux/amd64
            runner: X64
            ld_library_path: /usr/mpi/gcc/openmpi-${OPENMPI_VERSION}/lib:/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu:/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/usr/local/cuda/targets/x86_64-linux/lib
          - platform: linux/arm64
            runner: ARM64
            ld_library_path: /usr/mpi/gcc/openmpi-${OPENMPI_VERSION}/lib:/lib/aarch64-linux-gnu:/usr/lib/aarch64-linux-gnu:/usr/local/nvidia/lib:/usr/local/cuda-12.9/targets/sbsa-linux/lib/

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Get short commit hash
        run: echo "SHORT_SHA=$(git rev-parse --short=8 HEAD)" >> $GITHUB_ENV

      - name: Build docker images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: slurm-packages/Dockerfile
          push: false
          tags: slurm_packages:${{ matrix.slurm.version }}-${{ env.SHORT_SHA }}
          platforms: ${{ matrix.platform }}
          load: true
          build-args: |
            SLURM_VERSION=${{ matrix.slurm.version }}
            LD_LIBRARY_PATH=${{ matrix.ld_library_path }}

      - name: Create slurm_packages_output directory
        run: mkdir -p slurm_packages_output

      - name: Run Docker container and copy files
        run: |
          container_id=$(docker create slurm_packages:${{ matrix.slurm.version }}-${{ env.SHORT_SHA }})
          docker start $container_id
          docker cp $container_id:/usr/src/debs/ ./slurm_packages_output/
          docker stop $container_id
          docker rm $container_id

      - name: Create GitHub Release and Upload DEB packages
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: slurm-packages-${{ matrix.distribution }}-${{ matrix.slurm.version }}
          name: Slurm packages ${{ matrix.slurm.version }} for ${{ matrix.distribution }}
          draft: false
          prerelease: false
          files: |
            slurm_packages_output/debs/*.deb
            

      - name: Cleanup
        run: rm -rf slurm_packages_output/*.deb
